*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  font-weight: var(--weight-regular);
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  line-height: 150%;
}

a {
  text-decoration: none;
  color: var(--text-color-primary);
}

button {
  display: block;
  background-color: transparent;
  color: var(--text-color-primary);
  font-size: var(--fs-base);
  font-weight: var(--weight-regular);
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* Utilities */
.container {
  width: 80%;
  margin-inline: auto;
}

.text-center {
  text-align: center;
}
